{{#if posts.length}}
{{#each posts as |post|}}
<div class="row">
    <div class="card">
        <div class="blue-grey darken-1">
            <div class="card-content white-text">
                <a href="/post/{{post.id}}">{{post.title}}</a>
                <p class="creator">Made by: {{user.username}}</p>
                <p>Created at: {{format_date post.createdAt}}</p>
                <a class="edit-link" href="/dashboard/edit/{{post.id}}">Edit post</a>
            </div>
            <div class="card-action">
                <p>{{post.body}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{/if}}
<div>
    <a class="waves-effect waves-light btn-large" href="/dashboard/createpost">New Post</a>
</div>